html {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  overflow-y:hidden;
  overflow-x:hidden;
  background-color: #fafafa;
  animation: change 3.8s;
}

@keyframes change {
  0% {
    background-color: black;
  }

  90% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

h1, h2, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
}

img {
  width: 100%;
  height: 100%;
}



/*Loading Page*/
.loading-container {
    margin-left: 50px;
    margin-right: 50px;
}

.logo {
  width: 300px !important;
  height: 212px !important;
  display: block;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

/*Stepper Bar*/

.stepper-main-faded {
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    z-index: 1;
}

.stepper-main-fading {
    opacity: 0;
}

.stepper-bar
{
    margin: 0 auto;
    position: relative;
    transition-timing-function: linear;
    -webkit-transition: all 3s ease;
    -o-transition:      all 3s ease;
    -moz-transition:    all 3s ease;
    transition:         all 3s ease;

    background: #fafafa;
    display:    block;
    height:     3px;
    top:        30px;
    z-index: 1000;
}

#change-completed {
  display: none;
}



/*NAVBAR */

/*Navbar animations */


.item {
    position: absolute;
    display: block;
    font-family: 'Hvd fonts brandongrotesque', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 7px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    z-index: 9999;
    color: #1a1a1a;
  }


.item:hover {
  font-size: 15px;
  letter-spacing: 10px;
  cursor: pointer;
}
button {
  width: 100%;
  background:none;
  border:none;
  outline-style: none;
}


#waitingTop {
  top:0;
  transform: translate(0%, -200%);
}

#top {
  top: 50px;
  width: 100%;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;

}

#waitingRight {
  right: 0;
  transform: translate(200%, 0%);
}

#right {
  height: 95vh;
  right: 50px;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}

#waitingLeft {
  left: 0;
  transform: translate(-200%, 0%);
}

#left {
    height: 95vh;
    left: 50px;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;

}

#waitingBottom {
  bottom:0;
  transform: translate(0%, 150%);
}

#bottom {
  bottom: 50px;
  width: 100%;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;

}


/*HOME STUFF */


.home-fading {
    opacity: 0;
}

.home-faded {
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    z-index: 9999;
}

.main-description{
    padding-top: 15px;
    padding-left: 50px;
    float: left;
    width: 50%;
    font-size: 20px;
}

.home-description-fading {
  opacity: 0;
}
.home-description-faded {
  opacity: 1;
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  text-align: center;
}
#change {
  overflow: hidden;
  height: 15px;
  color: black;
}

#change span {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 7px;
  position: relative;
  display: block;
  animation: myAnim 10s ease infinite 0s;
  -webkit-animation: myAnim 10s ease infinite 0s;
}

@keyframes myAnim {
  0% { top: 0; }
  20% { top: 0; }
  35% { top: -20px; }
  55% { top: -20px; }
  70% { top: -40px; }
  90% { top: -40px; }
  100% { top: -60px; }
}

@-webkit-keyframes myAnim {
  0% { top: 0; }
  20% { top: 0; }
  35% { top: -20px; }
  55% { top: -20px; }
  70% { top: -40px; }
  90% { top: -40px; }
  100% { top: -60px; }
}

/*ABOUT ME STUFF */

.general-container-faded {
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    text-align: center;
}

.general-container-fading {


  opacity: 0;
}

.aboutme-container {
    overflow-y: scroll;
    height: 450px;
    text-align: center;
    display: inline-block;
    width: 60%;

}
